<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<br>
    <span>Dear </span><span th:text="${fullname}"></span>
    Welcome to OHB!<br/>
			    Thank you for registration here:<br/>
			    We have created an account for you. Here are your details:<br/>
			     Please click on below button for activate your account<br/>
			</td></tr>
			<!-- <a href= "@{${hrefurl}}"/> -->
			
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr><td align="center" style="padding:20px;flaot:left;width:100%; text-align:center;">
				<font face="Arial, Helvetica, sans-serif" size="3" color="#96a5b5" style="font-size: 13px;">
				<span style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #96a5b5;">
					2017 © OHB. ALL Rights Reserved.
				</span></font>				
			</td></tr>			
		</table>
</body>
</html>